
    <!-- header -->
        <app-header></app-header>
    <!-- //products-breadcrumb -->
    <!-- banner -->
        <div class="banner">
            <app-categories></app-categories>

            <!-- <app-listproducts></app-listproducts> -->
            <!-- <app-login></app-login> -->
            <router-outlet></router-outlet>

            <div class="clearfix"></div>
        </div>
    <!-- //banner -->
    <!-- newsletter -->
       <app-footer></app-footer>
    <!-- //footer -->
   
    